body {
    background-color: lightgray;
}

.wrapper {
    max-width: 1000px;
    padding: 25px;
    font-size: 30px;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

tbody tr:nth-child(odd) {
    background-color: #ccefb9;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    color: #1a6cf0;
}

a:hover {
    text-decoration: underline;
}