* {
    margin: 0;
    padding: 0;
}

.grid {
    max-width: 1110px;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: lightblue;
    grid-gap: 30px;
}

.grid__item {
    padding: 20px;
    background-color: blue;
}

.grid-big {
    grid-row: 1/3;
}