.footer{
    padding-top:75px;
    padding-bottom:70px;
    background: $veryDarkBlackBlue;
    border-top-right-radius: 100px;
    color:$white;
    font-family: 'Ubuntu', sans-serif;
    & .logo{
        height:fit-content;
        @media(max-width:650px){
            margin-bottom: 40px;
        }
    }
    & .flex-container{
        display: flex;
        justify-content: space-between;
        max-width:930px;
        @media(max-width:650px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            max-width:inherit;

        }
    }
    & p{
        margin-bottom:40px;
        font-weight: 600;
        font-size: 15px;
        font-family: 'Ubuntu', sans-serif;
        @media(max-width:650px){
            margin-top: 45px;
            font-size: 17px;
        }
    }
    & a{
        margin-top:20px;
        display: block;
        color:$white;
        text-decoration: none;
        font-size: 15px;
        @media(max-width:650px){
            margin-top: 15px;
            font-size: 18px;
            line-height: 1;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}
