
.header{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    .title {
        h1{
            font-size: 28px;
            font-weight: 700;
            &.dark{
                color: $white;
            }
            &.light{
                color:$veryDarkBlue;
            }
            @media(max-width:500px){
                font-size: 24px;
            }
        }
        p{
            margin-top: 2px;
            font-size: 15px;
            color:$desaturatedBlue;
        }
    }
    .position{
        margin-top: 14px;
        font-size: 14px;
        font-weight: 700;
        color:$desaturatedBlue;
        @media(max-width:500px){
            margin-top: 40px;
            width:100%;

        }
    }

}   


